.container {
  display: flex;
  justify-content: center;
  height: 88vh;
}

.grid {
  height: 80%;
}

.cardContainer {
  margin-top: 25px;
  width: 95vw;
  overflow: auto;
  padding-right: 10px;
}

.cardContainer::-webkit-scrollbar-thumb {
  background-color: #037cd4;
  border-radius: 4px;
}

.cardContainer::-webkit-scrollbar-thumb:hover {
  background-color: #037dd4;
}

.cardContainer::-webkit-scrollbar-track {
  background-color: #21394f;
  border-radius: 4px;
}

.thirdStepContainer {
  display: flex;
  width: 100%;
  height: 50%;
  padding-top: 10px;
}

.pieceAmountContainer {
  display: flex;
  justify-content: flex-start;
  width: 60%;
  max-height: 30%;
}

.amountCard {
  margin-left: 10px !important;
  margin-right: 10px !important;
  background-color: #0f253a !important;
  height: 30px;
  min-width: 50px !important;
  
}

.totalContainer {
  display: flex;
  justify-content: flex-end;
  width: 40%;
}

.totalCard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px !important;
  background-color: #0f253a !important;
  height: 45px;
  width: 90px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50%;
}

.clearButton{
  background-color: #037cd4 !important;
  color: white
}
