.container {
  height: 100% !important;
  padding-top: 10px;
  padding-bottom: 15px;
}

.card {
  height: 100%;
  background-color: #45556c !important;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 0.1px rgba(18, 141, 235, 0.4);
  transition: transform 0.7s;
  cursor: pointer;
}

.card:active {
  transform: scale(0.8);
}

.selectedCard {
  height: 100%;
  background-color: #45556c !important;
  border: 2px solid rgba(18, 141, 235) !important;
}

.selectedCard:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 0.1px rgba(226, 4, 4, 0.4);
  border: 2px solid rgba(226, 4, 4, 0.4) !important;
  transition: transform 0.7s;
  cursor: pointer;
}

.selectedCard:active {
  transform: scale(0.8);
}

.description {
  max-height: 20%;
}

.value {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}
