.container {
  height: 100% !important;
  padding-top: 10px;
  padding-bottom: 15px;
}

.card {
  height: 100%;
  background-color: #45556c !important;
}

.card:hover {
  transform: scale(1.02);
  transition: transform 0.7s;
  cursor: pointer;
}

.description{
  max-height: 20%;
}

.value{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.image{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}


